{% include 'header.html'%}
<style>
  .button {
        display: inline-block;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        background-color: #000000;
        color: white;
        border-radius: 4px;
        border: none;
        cursor: pointer;
       }
    .button:hover {
        background-color: #808080;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form action="/create_review/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button">Добавить отзыв</button>
</form>


</body>
{% include 'footer.html' %}